.text-align {
  text-align: center;
}

.text-align-status {
  text-align: center;
  color: #13be1d;
}

.list-bg-color {
  background-color:#eeeeee;
}

.text-status {
  font-size: 16px;
  font-weight: 500;
}


